.creative-materials
  .row
    .col-md-12
      p Creative materials
      button(type="button" class="btn btn-sm btn-primary biggie") UPLOAD NEW
      .checkboxes
        .all
          label.checkbox-inline All
          input(type="checkbox" id="inlineCheckbox1" value="option1")
        label.checkbox-inline TV
        input(type="checkbox" id="inlineCheckbox2" value="option2")
        label.checkbox-inline Radio
        input(type="checkbox" id="inlineCheckbox3" value="option3")
        label.checkbox-inline Print
        input(type="checkbox" id="inlineCheckbox4" value="option4")
        label.checkbox-inline Outdoor
        input(type="checkbox" id="inlineCheckbox5" value="option5")
        label.checkbox-inline Online
        input(type="checkbox" id="inlineCheckbox6" value="option6")
        
  .row
    .col-xs-12.col-sm-3
      .thumbnail
        img(src="images/material1.png")
        //- .placeholder.image1
        .caption.text-center
          h5 The truth
          p: a(href='#') Print

    .col-xs-12.col-sm-3
      .thumbnail
        img(src="images/material2.png")
        //- .placeholder.image2
        .caption.text-center
          h5 Summer campaign 3
          p: a(href='#') TV

    .col-xs-12.col-sm-3
      .thumbnail
        img(src="images/material3.png")
        //- .placeholder.image3
        .caption.text-center
          h5 Job fair banner
          p: a(href='#') Outdoor

    .col-xs-12.col-sm-3
      .thumbnail
        img(src="images/material4.png")
        //- .placeholder.image4
        .caption.text-center
          h5 Offer free trial
          p: a(href='#') Online
